html {
    font-size:10px;
    font-family:"Osward";
    background-color:rgb(62, 138, 60)
}
h1 {
    font-size:60px;
    text-align:center;
}
p,li {
    font-size:16px;
    line-height:2;
    letter-spacing:1px;
}
img{
    width:450px;
    display:block;
    margin:0 auto;
}
body {
    width: 600px;
    margin: 40px auto;
    background-color:rgb(137, 206, 158);
    padding: 20px 20px 20px 20px;
    border: 5px solid black;
  }
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }